# Maven build
target/
**/target/

# IntelliJ
.idea/
*.iml

# macOS
.DS_Store

# Environment variables
.env

# Logs
*.log

# Kafka runtime data
data/


/api-gateway/
/api-gateway 2/
**/src/test/

/keycloak-import/*.json
!/keycloak-import/ecommerce-app-realm-sanitized.json
/keycloak-private-backup/


# Old database initialization files
/db-init/*-init.sql

# React dependencies and build output
**/node_modules/
**/dist/

# All local environment files
.env
.env.*
!.env.example